<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>Enter your FIFA 12 username:</br></p>
    <div class="field">
      <%= f.text_field :fifa_username, placeholder: "FIFA 12 username" %>
    </div>
    <br/>
    <p>Create a new team on our website:</br></p>
    <div class="field">
      <%= f.text_field :username, placeholder: "Username" %>
    </div>
    <div class="field">
      <%= f.text_field :teamname, placeholder: "Team name" %>
    </div>
    <div class="field">
      <%= f.text_field :email, placeholder: "E-mail Address" %>
    </div>
    <div class="field">
      <%= f.text_field :country, placeholder: "Country" %>
    </div>
    <div class="field">
      <%= f.number_field :age, placeholder: "Age" %>
    </div>
    <div class="actions">
      <%= f.submit class: "btn btn-success btn-large" %>
    </div>
<% end %>
