<h1>Match List</h1>

<table>
  <tr>
    <th>Homeuser</th>
    <th>Awayuser</th>
    <th>Homegoals</th>
    <th>Awaygoals</th>
    <th>Hometeam</th>
    <th>Awayteam</th>
    <th>Datetime</th>
    <th>Newsitem</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @matches.each do |match| %>
  <tr>
    <td><%= link_to User.find(match.homeuser_id).username,  user_path( User.find(match.homeuser_id))  %></td>
    <td><%= link_to User.find(match.awayuser_id).username, user_path( User.find(match.awayuser_id)) %></td>
    <td><%= match.homegoals %></td>
    <td><%= match.awaygoals %></td>
    <td><%= match.hometeam %></td>
    <td><%= match.awayteam %></td>
    <td><%= match.datetime %></td>
    <td><%= match.NewsItem_id %></td>
    <td><%= link_to 'Show', match , class: "btn btn-small btn-primary" %></td>
    <td><%= link_to 'Edit', edit_match_path(match) , class: "btn btn-small btn-primary" %></td>
    <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-small btn-primary" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Match', new_match_path , class: "btn btn-small btn-primary" %>
