<% match = Match.last unless match = Match.find_last_by_ended(false) %> <!-- pick an ongoing match, or the latest one to end if there is none -->
<% if !match.nil? then %>
    <div class="well center">
      <h3>Featured match:</h3>
      <div class="row-fluid">
        <div class="span4">
          <span class="label label-info"><%= match.homeuser.username %></span>
        </div>
        <div class="span4">
          <hr>
        </div>
        <div class="span4">
          <span class="label label-info"><%= match.awayuser.username %></span>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4">
          <span class="label label-info"><%= match.hometeam %></span>
        </div>
        <div class="span4">
          <span class="label label-important">vs</span></div>
        <div class="span4">
          <span class="label label-info"><%= match.awayteam %></span>
        </div>
      </div>
      <br/>

      <div class="row-fluid">
        <div class="span4">
          <span class="label label-info"><%= match.homegoals %></span>
        </div>
        <div class="span4">
          <hr>
        </div>
        <div class="span4">
          <span class="label label-info"><%= match.awaygoals %></span>
        </div>
      </div>


          <div class="row-fluid">
            <div class="span12">
              <% if !match.ended %>
              <span class="label label-info">LIVE! Minutes in: <%= match.minutes %></span>
                  <% else %>
                  <span class="label label-info">Match ended</span>
              <% end %>
            </div>
          </div>

<% end %>
</div>